extends layout

block content
  h1= title
  p Welcome to #{title}

  a(href="/auth/github") Login with GitHub
  

  if !user
    h2 login please
  else
    h2= 'hi dickhead, ' + user.displayName	
    br
    a(href="/issues") Issues
    br
    a(href="/account") Account
    br
    a(href="/repo") Repo
    br
    a(href="/add") Add
    br
